<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Virtual Counselor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-link" href="/Checkout">Checkout</NavLink>
            <NavLink class="nav-link" href="/Degrees">Degree</NavLink>
            <NavLink class="nav-link" href="/Schedule">Scheduler</NavLink>
            <NavLink class="nav-link" href="/Transcript">Transcripts</NavLink>
        </div>
    </div>
</nav>

