@page "/DegreeDetails/{degreeString}"
@inject NavigationManager navigation
@rendermode InteractiveServer

<h2>test degree: @degree.Name</h2> <button Size="ButtonSize.Large" @onclick="GoBack"> Return </button>


@code {
	[Parameter] public string degreeString { get; set; }
	private Degree degree;

	protected override Task OnInitializedAsync()
	{
		degree = DegreeManager.GetDegreeByID(int.Parse(degreeString));
		return base.OnInitializedAsync();
	}

	private void GoBack(){
		navigation.NavigateTo($"/DegreeSearch");
	}
}
