@page "/DegreeSearch"
@inject NavigationManager navigation;
@rendermode InteractiveServer
<h3>Degrees</h3>

<div class="scrollable-list" style="max-height: 400px; overflow-y: scroll;">
	@foreach (var deg in degrees)
	{
		<VirtualCounselor.Components.Objects.DegreeSearchResult degree="deg" onClick="NavToDetailsPage"></VirtualCounselor.Components.Objects.DegreeSearchResult>
	}
</div>

@code {
	private List<Degree> degrees = DegreeManager.GetDegreeList();

	private void NavToDetailsPage(Degree degree)
	{
		Console.WriteLine("test");
		navigation.NavigateTo($"/DegreeDetails/{degree.Id.ToString()}");
	}
}
